<!DOCTYPE html>
<html>
  <head>
    <title>Update Password</title>
    <link rel="stylesheet" href="/staticFiles/sitestyle.css">
  </head>  
  <body>
    <div class="header">
        <h2>Update Your Pretty Cool Password</h2>
    </div>
    <div class="color_frame">
        <div class="text_box">
            <!-- If there is a message, this appears above the form -->
        {% if message%}
        <h5 class="message">{{ message }}</h5>
        {% endif %}
            <!-- Form for update password, used by Javascript at bottom -->
            <!-- Form is similar to registration, other than now javascript does not block submission
             Now password is checked against txt file and then regular password requirements-->
        <form action="{{ url_for('update_password_page') }}" method="POST">
	    {{ csrf_token() }}
            <label id="requirement_head">Password must contain at least:</label>
            <label id="min_length">12 characters </label>
            <label id="symbol">1 symbol: !@#$%^&*(),.?:{}|</label>
            <label id="number">1 number</label>
            <label id="uppercase">1 uppercase letter</label>
            <label class="last_requirement" id="lowercase">1 lowercase letter</label>

            <label for="password">Enter a Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="password">Password Again:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" oninput="doMatch();" required>
            <input type="submit" id="submit" value="Update Password">
        </form>
        </div>
    </div>
    <script>

        //Verifies that all requirements are met
        //for each requirement text is turned green when met
        //when requirements are all met submit button becomes available
         var passwordInput = document.getElementById("password");
         var minLengthLabel = document.getElementById("min_length");
         var symbolLabel = document.getElementById("symbol");
         var numberLabel = document.getElementById("number");
         var uppercaseLabel = document.getElementById("uppercase");
         var lowercaseLabel = document.getElementById("lowercase");

         passwordInput.addEventListener("input", function() {
             var password = passwordInput.value;

             if (password.length >= 12) {
                 minLengthLabel.classList.add("pass");
             } else {
                 minLengthLabel.classList.remove("pass");
             }

             //ensures there is at least one symbol
             if (/[\!\@\#\$\%\^\&\*\(\)\,\.\?\:\{\}\|\;]/.test(password)) {
                 symbolLabel.classList.add("pass");
             } else {
                 symbolLabel.classList.remove("pass");
             }

             //ensures there is at least one number
            if (/\d/.test(password)) {
                numberLabel.classList.add("pass");
            } else {
                numberLabel.classList.remove("pass");
            }

            if (/[A-Z]/.test(password)) {
                uppercaseLabel.classList.add("pass");
            } else {
                uppercaseLabel.classList.remove("pass");
            }

            if (/[a-z]/.test(password)) {
                lowercaseLabel.classList.add("pass");
            } else {
                lowercaseLabel.classList.remove("pass");
            }
        });

        //Function verifies both password inputs match
        function doMatch()
        {
            const firstInput = document.getElementById("password");
            const secondInput = document.getElementById("confirmPassword");

            if(firstInput.value != secondInput.value)
            {
                secondInput.setCustomValidity("The passwords do not match");
            }
            else
            {
                secondInput.setCustomValidity("");
            }
        }  
    </script>
  </body>
</html>